@font-face {
  font-family: 'Figtree';
  src: url("Figtree-LightItalic.woff2") format("woff2"), url("Figtree-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Figtree';
  src: url("Figtree-Italic.woff2") format("woff2"), url("Figtree-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Figtree';
  src: url("Figtree-Light.woff2") format("woff2"), url("Figtree-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Figtree';
  src: url("Figtree-Regular.woff2") format("woff2"), url("Figtree-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Figtree';
  src: url("Figtree-SemiBold.woff2") format("woff2"), url("Figtree-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Bold.woff2") format("woff2"), url("PPWoodland-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Medium.woff2") format("woff2"), url("PPWoodland-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Light.woff2") format("woff2"), url("PPWoodland-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Ultralight.woff2") format("woff2"), url("PPWoodland-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Heavy.woff2") format("woff2"), url("PPWoodland-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PP Woodland';
  src: url("PPWoodland-Regular.woff2") format("woff2"), url("PPWoodland-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

//new font upload SOAL

@font-face {
  font-family: 'LexendZetta-Black';
  src: url("LexendZetta-Black.ttf") format("ttf"), url("LexendZetta-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-Bold';
  src: url("LexendZetta-Bold.ttf") format("ttf"), url("LexendZetta-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-ExtraBold';
  src: url("LexendZetta-ExtraBold.ttf") format("ttf"), url("LexendZetta-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-ExtraLight';
  src: url("LexendZetta-ExtraLight.ttf") format("ttf"), url("LexendZetta-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-Light';
  src: url("LexendZetta-Light.ttf") format("ttf"), url("LexendZetta-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-Medium';
  src: url("LexendZetta-Medium.ttf") format("ttf"), url("LexendZetta-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-Regular';
  src: url("LexendZetta-Regular.ttf") format("ttf"), url("LexendZetta-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-SemiBold';
  src: url("LexendZetta-SemiBold.ttf") format("ttf"), url("LexendZetta-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'LexendZetta-Thin';
  src: url("LexendZetta-Thin.ttf") format("ttf"), url("LexendZetta-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

:root {
  --white-color: #ffffff;
  --white-color-op: #FFE7E7;
  --green-color-black: #1D271A;
  --green-grass-color-op: #A4C55D;
  --font-heading-v1: 'Figtree';
  --font-heading-v2: 'PP Woodland';
  --font-heading-weight-v1: 400; }

html.sticky-header-enabled .shopify-section.header__outer-wrapper .fs-navigation-base a {
  color: var(--white-color); }
html.sticky-header-enabled .icon svg path {
  stroke: var(--white-color-op); }
html.sticky-header-enabled [data-js-cart-count] {
  background: var(--white-color-op); }

.header__links-primary .header__links-list > li:not(:last-child) {
  margin-right: var(--spacing-12); }

.header__links.header__links-primary > ul > li > [data-link] {
  color: var(--white-color-op);
  text-align: right;
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.8px; }

.ff-heading {
  font-family: var(--font-heading-v1);
  font-weight: var(--font-heading-weight-v1);
  font-size: var(--font-size-heading-3-base); }
  .ff-heading.video-hero__text-container-heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .ff-heading span {
    font-family: var(--font-heading-v2); }
  @media (min-width: 960px) {
    .ff-heading.purchase-confirmation-popup__heading, .ff-heading.quick-cart__heading, .ff-heading.product__title {
      font-size: var(--font-size-heading-6-base); } }
  .ff-heading.featured-collection-grid__heading {
    text-align: center; }
    @media (min-width: 960px) {
      .ff-heading.featured-collection-grid__heading {
        max-width: 570px;
        padding-top: 6%;
        padding-bottom: 4%;
        margin: 0 auto; } }
    .ff-heading.featured-collection-grid__heading span {
      color: var(--green-grass-color-op); }
  .ff-heading.image-with-text__text-container-heading span {
    color: var(--green-grass-color-op); }

.ff-subheading.testimonials__item-quote {
  color: #1D271A;
  text-align: center;
  font-family: var(--font-heading-v2);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media (min-width: 960px) {
    .ff-subheading.testimonials__item-quote {
      font-size: 32px; } }

.testimonials__item .image .image__inner {
  max-width: 60px; }

.testimonials__item-quote + .testimonials__item-author {
  text-align: center;
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase; }

@media (max-width: 719px) {
  .testimonials__item .testimonials__item-content {
    margin-top: 40px;
    margin-top: auto; }

  .product-item__meta .btn.show-product-quickview {
    display: block; } }
@media (min-width: 720px) {
  .testimonials__item.testimonials__item--image-placement-left .testimonials__item-product {
    margin: 0 auto;
    align-items: center; } }
.video-hero__inner .btn.btn--callout span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px; }
  .video-hero__inner .btn.btn--callout span:before {
    background: transparent; }

@media (min-width: 768px) {
  .header__inner [data-scroll-container],
  .header__inner [data-scroll-container][data-axis=horizontal] {
    margin-left: 20%; } }

.header__row .header__row-segment.contains-nav {
  width: 100%; }

@media (min-width: 960px) {
  .header {
    padding-top: 0; } }
.header__row.header__row-desktop.lower .header__row-segment.contains-nav .header__logo {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4); }

@media (min-width: 960px) {
  .featured-collection-grid.featured-collection-grid--per-view-3 .featured-collection-grid__products {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto; }

  .featured-collection-grid__products .product-item__inner .product-item__meta .show-product-quickview {
    width: 100%;
    max-width: 150px; }
  .featured-collection-grid__products p.product-item__price {
    padding: 6px 0; } }
.template-index .featured-collection-grid {
  padding-bottom: 5%; }
  @media (min-width: 960px) {
    .template-index .featured-collection-grid {
      padding-bottom: 10%; } }
.template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title {
      font-size: 20px; } }
  @media (max-width: 600px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title a {
      font-size: 14px; } }
.template-index .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
      font-size: 18px; } }

.product-item__inner .product-item__meta .product-item__text .fs-product-card-title,
.product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .product-item__inner .product-item__meta .product-item__text .fs-product-card-title,
    .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
      font-size: 18px; } }

.btn.btn--primary,
.btn.btn--secondary,
.btn.btn--tertiary,
.spr-button-primary,
.spr-summary-actions-newreview,
.shopify-challenge__button,
.social-share__button {
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

@media (min-width: 720px) {
  .image-with-text .image-with-text__text-container {
    margin-top: 15%; } }
.image-with-text .btn.btn--callout span {
  color: #2A3327;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px; }
  .image-with-text .btn.btn--callout span:before, .image-with-text .btn.btn--callout span:after {
    width: 30%; }

.footer__header .fs-accent {
  color: var(--white-color-op);
  font-family: var(--font-heading-v1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px; }

.footer__links ul li a {
  color: var(--white-color-op);
  font-family: var(--font-heading-v1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase; }

.footer__group.footer__group--text .footer__text {
  color: var(--white-color);
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px; }

.footer__bottom p {
  color: var(--white-color);
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px; }

.accordion__inner:first-of-type {
  border-top: unset;
  border-color: #EBE8E1; }
.accordion__inner .accordion__label h3 {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

@media (max-width: 720px) {
  .recommended-products__heading.ff-heading {
    font-size: var(--font-size-heading-5-base); } }

@media (max-width: 720px) {
  .product__title.ff-heading {
    font-size: var(--font-size-heading-4-base); } }

.product-item__meta .btn.show-product-quickview {
  color: var(--white-color) !important; }

.cross-sells__heading.ff-heading.fs-heading-6-base {
  font-size: var(--font-size-heading-7-base); }

@media (min-width: 960px) {
  .featured-collection-grid__products .product-item__inner .product-item__meta .show-product-quickview {
    max-width: initial; } }
.yotpo-head .yotpo-reviews-by {
  display: none !important; }

/*# sourceMappingURL=custom.css.map */
