@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap");
@font-face {
  font-family: 'Agne';
  src: url("agne-regular-webfont.woff2") format("woff2"), url("agne-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
:root {
  --white-color: #ffffff;
  --white-color-op: #FFE7E7;
  --green-color-black: #1D271A;
  --green-grass-color-op: #A4C55D;
  --font-heading-v1: "Lexend Zetta", sans-serif;
  --font-heading-v2: "Agne";
  --font-heading-weight-v1: 400; }

html.sticky-header-enabled .shopify-section.header__outer-wrapper .fs-navigation-base a {
  color: var(--white-color); }
html.sticky-header-enabled .icon svg path {
  stroke: var(--white-color-op); }
html.sticky-header-enabled [data-js-cart-count] {
  background: var(--white-color-op); }

.header__links-primary .header__links-list > li:not(:last-child) {
  margin-right: var(--spacing-12); }

.header__links.header__links-primary > ul > li > [data-link] {
  color: var(--white-color-op);
  text-align: right;
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.8px; }

.ff-heading {
  font-family: var(--font-heading-v1);
  font-weight: var(--font-heading-weight-v1);
  font-size: var(--font-size-heading-3-base); }
  .ff-heading.video-hero__text-container-heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .ff-heading span {
    font-family: var(--font-heading-v2); }
  @media (min-width: 960px) {
    .ff-heading.purchase-confirmation-popup__heading, .ff-heading.quick-cart__heading, .ff-heading.product__title {
      font-size: var(--font-size-heading-6-base); } }
  .ff-heading.featured-collection-grid__heading {
    text-align: center; }
    @media (min-width: 960px) {
      .ff-heading.featured-collection-grid__heading {
        max-width: 570px;
        padding-top: 6%;
        padding-bottom: 4%;
        margin: 0 auto; } }
    .ff-heading.featured-collection-grid__heading span {
      color: var(--green-grass-color-op); }
  .ff-heading.image-with-text__text-container-heading span {
    color: var(--green-grass-color-op); }

.ff-subheading.testimonials__item-quote {
  color: #1D271A;
  text-align: center;
  font-family: var(--font-heading-v2);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media (min-width: 960px) {
    .ff-subheading.testimonials__item-quote {
      font-size: 32px; } }

.testimonials__item .image .image__inner {
  max-width: 60px; }

.testimonials__item-quote + .testimonials__item-author {
  text-align: center;
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase; }

@media (max-width: 719px) {
  .testimonials__item .testimonials__item-content {
    margin-top: 40px;
    margin-top: auto; }

  .product-item__meta .btn.show-product-quickview {
    display: block; } }
@media (min-width: 720px) {
  .testimonials__item.testimonials__item--image-placement-left .testimonials__item-product {
    margin: 0 auto;
    align-items: center; } }
.video-hero__inner .btn.btn--callout span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px; }
  .video-hero__inner .btn.btn--callout span:before {
    background: transparent; }

@media (min-width: 768px) {
  .header__inner [data-scroll-container],
  .header__inner [data-scroll-container][data-axis=horizontal] {
    margin-left: 20%; } }

.header__row .header__row-segment.contains-nav {
  width: 100%; }

@media (min-width: 960px) {
  .header {
    padding-top: 0; } }
.header__row.header__row-desktop.lower .header__row-segment.contains-nav .header__logo {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4); }

@media (min-width: 960px) {
  .featured-collection-grid.featured-collection-grid--per-view-3 .featured-collection-grid__products {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto; }

  .featured-collection-grid__products .product-item__inner .product-item__meta .show-product-quickview {
    width: 100%;
    max-width: 150px; }
  .featured-collection-grid__products p.product-item__price {
    padding: 6px 0; } }
.template-index .featured-collection-grid {
  padding-bottom: 5%; }
  @media (min-width: 960px) {
    .template-index .featured-collection-grid {
      padding-bottom: 10%; } }
.template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title {
      font-size: 20px; } }
  @media (max-width: 600px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title a {
      font-size: 14px; } }
.template-index .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .template-index .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
      font-size: 18px; } }

.product-item__inner .product-item__meta .product-item__text .fs-product-card-title,
.product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  @media (min-width: 960px) {
    .product-item__inner .product-item__meta .product-item__text .fs-product-card-title,
    .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
      font-size: 18px; } }

.btn.btn--primary,
.btn.btn--secondary,
.btn.btn--tertiary,
.spr-button-primary,
.spr-summary-actions-newreview,
.shopify-challenge__button,
.social-share__button {
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

@media (min-width: 720px) {
  .image-with-text .image-with-text__text-container {
    margin-top: 15%; } }
.image-with-text .btn.btn--callout span {
  color: #2A3327;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px; }
  .image-with-text .btn.btn--callout span:before, .image-with-text .btn.btn--callout span:after {
    width: 30%; }

.footer__header .fs-accent {
  color: var(--white-color-op);
  font-family: var(--font-heading-v1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px; }

.footer__links ul li a {
  color: var(--white-color-op);
  font-family: var(--font-heading-v1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase; }

.footer__group.footer__group--text .footer__text {
  color: var(--white-color);
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px; }

.footer__bottom p {
  color: var(--white-color);
  font-family: var(--font-heading-v1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px; }

.accordion__inner:first-of-type {
  border-top: unset;
  border-color: #EBE8E1; }
.accordion__inner .accordion__label h3 {
  color: var(--green-color-black);
  font-family: var(--font-heading-v1);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

@media (max-width: 720px) {
  .recommended-products__heading.ff-heading {
    font-size: var(--font-size-heading-5-base); } }

@media (max-width: 720px) {
  .product__title.ff-heading {
    font-size: var(--font-size-heading-4-base); } }

.product-item__meta .btn.show-product-quickview {
  color: var(--white-color) !important; }

.cross-sells__heading.ff-heading.fs-heading-6-base {
  font-size: var(--font-size-heading-7-base); }

@media (min-width: 960px) {
  .featured-collection-grid__products .product-item__inner .product-item__meta .show-product-quickview {
    max-width: initial; } }
.yotpo-head .yotpo-reviews-by {
  display: none !important; }

@media (max-width: 720px) {
  .section {
    padding: 0px 12px; }

  .drawer-menu__bottom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white; }

  .header {
    background-color: white; }

  .drawer-menu__item {
    border-bottom: none; }

  .drawer-menu__primary-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black; }

  .drawer-menu__link .icon.icon-chevron {
    display: none; }

  .drawer-menu__list--sub {
    opacity: 0;
    pointer-events: all;
    visibility: visible; }

  .drawer-menu__contents {
    color: black; }

  html.sticky-header-enabled .icon svg path {
    stroke: white; }

  #shopify-section-template--21978605027674__slideshow_ngWCPT div.slideshow-slide__text-container-text.rte.ff-body {
    color: white;
    position: absolute;
    top: 95%;
    left: 25%; } }
.slideshow-navigation__dot-loader {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 2px solid var(--color-foreground);
  width: 15px;
  height: 15px;
  border-radius: 0; }

.explore-more-link {
  display: block;
  text-align: center; }

.multi-column__heading {
  font-size: 17px;
  padding-top: 35px; }

.section-introduction__heading {
  font-size: 17px;
  padding-top: 35px; }

.ff-heading {
  font-size: 17px;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 30px 0;
  line-height: 30px;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 2.5px;
  padding: 0px;
  padding-top: 35px; }

.fs-heading-3-base {
  font-size: 17px;
  padding: 0px;
  padding-top: 35px; }

.footer {
  background-color: white; }
  .footer .social-icons .icon {
    width: 25px;
    height: 25px;
    color: #333333;
    display: flex;
    justify-content: space-between; }

.footer__header .fs-accent {
  color: black;
  font-family: var(--font-heading-v1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px; }

.footer__newsletter .input[type=email] {
  color: black; }

.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
  fill: #333333;
  color: #333333;
  justify-content: center;
  gap: 33px; }

.footer__group.footer__group--text .footer__text {
  color: black;
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .7px;
  text-align: center;
  line-height: 21px; }

.footer__bottom p {
  color: black;
  font-family: var(--font-heading-v1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .7px;
  text-align: center;
  line-height: 21px; }

.footer__links ul {
  width: 100%;
  font-family: var(--font-heading-v1);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline; }
  .footer__links ul li a {
    color: #000000;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase; }

.button-block__button {
  display: flex;
  justify-content: center; }

.multi-column__grid-item-inner {
  width: 100%;
  margin-top: 35px; }

.shopify-section.footer__parent {
  background-color: white; }

.rich-text__heading {
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 30px 0;
  line-height: 30px;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 2.5px;
  padding: 0px; }

.fs-heading-2-base {
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 30px 0;
  line-height: 30px;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 2.5px; }

.rich-text__text {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 20px 30px;
  display: block;
  text-align: left;
  padding: 2px 0;
  display: block;
  text-align: left;
  padding: 2px 0;
  color: #555555; }

.rte {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 20px 30px;
  display: block;
  text-align: left;
  padding: 2px 0;
  display: block;
  text-align: left;
  padding: 2px 0;
  color: #555555; }

.ff-body {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 20px 30px;
  display: block;
  text-align: left;
  padding: 2px 0; }

.fs-body-100 {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 20px 30px;
  display: block;
  text-align: left;
  padding: 2px 0;
  display: block;
  text-align: left;
  padding: 2px 0;
  color: #555555; }

.section-blocks__subheading {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 20px 30px;
  display: block;
  text-align: left;
  padding: 2px 0;
  display: block;
  text-align: left;
  padding: 2px 0;
  color: #555555; }

.image-block {
  margin-top: 10px;
  padding: 0px; }

.image-block--justify-left {
  margin-top: 10px;
  padding: 0px; }

.image-block--justify-mobile-left {
  margin-top: 10px;
  padding: 0px; }

.image-block--break-to-mobile-at-720 {
  margin-top: 10px;
  padding: 0px; }

.product-item__hoverless-quick-view-button.btn .icon-quick-buy {
  display: none; }

.template-index .product-item__inner .product-item__meta .product-item__text .fs-product-card-title {
  text-align: center; }

html:not(.no-js) body.template-index:not([mobile-menu-open=true]):not([quick-search-open=true]) header.header--transparent:not(.is-sticky):not(:hover):not(:focus-within):not(.dropdown-active) .header__inner [data-js-cart-count] {
  display: none; }
html:not(.no-js) body.template-collection:not([mobile-menu-open=true]):not([quick-search-open=true]) header.header--transparent:not(.is-sticky):not(:hover):not(:focus-within):not(.dropdown-active) .header__inner [data-js-cart-count] {
  display: none; }
html:not(.no-js):not(.prefers-reduced-motion) .animation .animation--mobile-filters.is-visible {
  width: 50%; }

#shopify-section-template--21978605027674__multi_column_mqeEBj div.multi-column__subheading {
  font-size: 15px;
  text-align: center;
  color: white; }
#shopify-section-template--21978605027674__multi_column_mqeEBj div.multi-column__grid-item-text {
  font-size: 11px;
  text-align: center;
  color: white; }

.product-item__inner .product-item__meta .product-item__text {
  color: #DD8560;
  display: block;
  text-align: center; }
  .product-item__inner .product-item__meta .product-item__text .product-item__price .product-item__price {
    color: #DD8560;
    display: block;
    text-align: center; }

.product-item__product-title {
  color: black;
  text-align: left; }

.fs-product-card-title {
  color: black;
  text-align: left; }

html.sticky-header-enabled [data-js-cart-count] {
  display: none; }

.mobile-filters__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 8px 16px;
  padding: var(--spacing-2) calc(var(--spacing-unit)* 4);
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  color: #555555;
  transition: border-color .25s ease-in-out; }

.product__block--product-header.product__block--with-divider {
  border-bottom: 0px; }

.product__vendor_and_sku {
  display: none; }

.btn.btn--primary:before {
  background-color: black; }

.shopify-challenge__button:before {
  background-color: black; }

.carousel__navigation-wrapper {
  display: flex;
  justify-content: center; }

.navigation__item {
  color: #888888; }

.newsletter__signup .newsletter__signup-input {
  border: none;
  border-bottom: 1px solid; }

.newsletter__block-content-text {
  display: block;
  text-align: center;
  color: #888888; }

.section-blocks__text {
  display: block;
  text-align: center;
  color: #888888; }

.quick-search__result-price {
  display: block;
  text-align: left;
  color: #DD8560; }

@media (max-width: 720px) {
  .fs-heading-5-base {
    display: block;
    text-align: left; }

  .header {
    background-color: #000; } }
@media (max-width: 1200px) {
  .footer__links ul {
    display: flex;
    flex-direction: column; } }

/*# sourceMappingURL=custom.css.map */
