@media (max-width:720px)
{
.drawer-menu__bottom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.header{
 background-color:white;
}
  
.drawer-menu__item{
  border-bottom:none;
  
}
.drawer-menu__primary-links{
  display:flex;
  justify-content:space-around;
  border-bottom: 1px solid black;
}

  .drawer-menu__link .icon.icon-chevron{
    display:none;
  }
.drawer-menu__list--sub {
    opacity: 0;
    pointer-events: all;
    visibility: visible;
}

  .drawer-menu__contents {
    
    color: black;
}
  html.sticky-header-enabled .icon svg path {
    stroke: black;
}

  #shopify-section-template--21978605027674__slideshow_ngWCPT div.slideshow-slide__text-container-text.rte.ff-body {
    color: white;
    position: absolute;
    top: 95%;
    left: 30%;
}
}

.slideshow-navigation__dot-loader {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)  rotate(45deg);
    border: 2px solid var(--color-foreground);
    width: 15px; 
    height: 15px;
    border-radius: 0;

}
.explore-more-link{
  display:block;
  text-align:center;
}

.multi-column__heading, .section-introduction__heading, .ff-heading, .fs-heading-3-base{
  font-size: 17px;
}

.footer{
  background-color:white;
}

.footer__header .fs-accent {
    color:black;
    font-family: var(--font-heading-v1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2.4px;
}

.footer__newsletter .input[type=email] {
    color: black;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    fill: black;
    color: black;
    justify-content: center;
    
}

.footer__group.footer__group--text .footer__text, .footer__bottom p {
    color: black;
    font-family: var(--font-heading-v1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .7px;
    text-align:center;
}

.footer__links ul li a {
    color: #000000;
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.footer__links ul {
    width: 100%;
    font-family: var(--font-heading-v1);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.footer .social-icons .icon {
    width: 20px;
    height: 20px;
    color: black;
}


.button-block__button {
    display: flex;
    justify-content: center;
}


.multi-column__grid-item-inner {
    width: 100%;
    margin-top: 35px;
}

.shopify-section.footer__parent{
  background-color:white;
}

.rich-text__heading, .ff-heading, .fs-heading-2-base, .section-blocks__heading{
  font-size: 20px;
  display:block;
  text-align:center;
  padding: 30px 0;
  line-height:3px;
}


.rich-text__text, .rte, .ff-body, .fs-body-100, .section-blocks__subheading{

  display:block;
  text-align:center;
  font-size: 18px;
  padding: 20px 30px;
}
















