@media (max-width:720px)
{
.drawer-menu__bottom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.header{
 background-color:black;
}
  
.drawer-menu__item{
  border-bottom:none;
  
}
.drawer-menu__primary-links{
  display:flex;
  justify-content:space-around;
  border-bottom: 1px solid white;
}

  .drawer-menu__link .icon.icon-chevron{
    display:none;
  }
.drawer-menu__list--sub {
    opacity: 0;
    pointer-events: all;
    visibility: visible;
}
}